.overlayResizeHandles {
  position: absolute;
  inset: 0;
  z-index: 9;
  pointer-events: none;
}

.resizeHandle {
  -webkit-app-region: no-drag;
  position: absolute;
  display: block;
  pointer-events: auto;
}

.resize-n,
.resize-s {
  left: 18px;
  right: 18px;
  height: 10px;
  cursor: ns-resize;
}

.resize-n {
  top: 0;
}

.resize-s {
  bottom: 0;
}

.resize-e,
.resize-w {
  top: 18px;
  bottom: 18px;
  width: 10px;
  cursor: ew-resize;
}

.resize-e {
  right: 0;
}

.resize-w {
  left: 0;
}

.resize-ne,
.resize-nw,
.resize-se,
.resize-sw {
  width: 18px;
  height: 18px;
}

.resize-ne {
  top: 0;
  right: 0;
  cursor: nesw-resize;
}

.resize-nw {
  top: 0;
  left: 0;
  cursor: nwse-resize;
}

.resize-se {
  right: 0;
  bottom: 0;
  cursor: nwse-resize;
}

.resize-sw {
  bottom: 0;
  left: 0;
  cursor: nesw-resize;
}
